<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Converter</title>
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body ng-app="currencyConverter">
    <div ng-controller="MainCtrl" class="main-container">
        <div>
            <div class="converter-wrapper">
                <div class="static-text-wrapper">
                    <span>Convert <span class="bold-text">EUR</span> to <span class="bold-text">PLN</span></span>
                </div>
                <div class="input-container">
                    <div class="static-text-wrapper">
                        <span>Enter <span class="bold-text">EUR</span> amount</span>
                    </div>
                    <div class="container-wrapper">
                        <div class="input-button-container">
                            <input ng-model="userCurrencyAmount">
                            <button ng-click="addNewTile(userCurrencyAmount)">Convert to PLN</button>
                        </div>
                        <div class="hat-container">
                            <img src="images/hat.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="converts-container">
                <div class="convert" ng-repeat="currencyConversation in currencyPlnConversations track by $index">
                    <p class="static-text">PLN Amount</p>
                    <p class="amount">{{ currencyConversation.price }}</p>
                    <span class="timestamp">⌚ {{ currencyConversation.time }}</span>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- Library scripts -->
<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="node_modules/moment/min/moment-with-locales.min.js"></script>
<!-- App scripts -->
<script type="text/javascript" src="app.js"></script>
</html>