@import "variables";

html {
    body {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;

        .bold-text {
            font-weight: bold;
        }

        .main-container {
            padding: $default-elements-size * 2;
            margin: 0 auto;
            width: 60%;
            background-color: $bcgr-color;

            .converter-wrapper {
                padding-top: $default-elements-size * 2;

                .static-text-wrapper {
                    font-size: $default-elements-size * 2;
                }

                .input-container {
                    $elem-width: 5em;

                    margin-top: $default-elements-size;
                    padding: $default-elements-size * 2;
                    background-color: $color-white;
                    display: inline-block;
                    position: relative;

                    .static-text-wrapper {
                        color: $grey-color;
                        font-size: $default-elements-size;
                    }

                    .container-wrapper {

                        .input-button-container {
                            $border-radius-size: $default-elements-size / 3;

                            display: flex;

                            input {
                                padding: $default-elements-size / 10;
                                font-size: $default-elements-size * 3;
                                width: $elem-width;
                                border-radius: $border-radius-size 0 0 $border-radius-size;
                                border-color: $border-color;
                                border-width: 1px;
                                outline: none;
                            }

                            button {
                                cursor: pointer;
                                border-radius: 0 $border-radius-size $border-radius-size 0;
                                border: none;
                                text-transform: uppercase;
                                background-color: $light-green-color;
                                color: $color-white;
                                font-size: $default-elements-size * 1.5;
                                font-weight: bold;
                                width: $elem-width * 2;
                                outline: none;
                            }
                        }

                        .hat-container {
                            position: absolute;
                            top: 0;
                            right: 0;
                            transform: rotate(15deg) translate(20%, -60%);

                            img {
                                width: 140px;
                                height: 140px;
                            }
                        }
                    }
                }
            }

            .converts-container {
                display: flex;
                flex-wrap: wrap;
                margin-left: -$default-elements-size;

                .convert {
                    position: relative;
                    min-width: $default-elements-size * 15;
                    margin: $default-elements-size;
                    text-align: center;
                    background-color: $color-white;

                    .static-text {
                        color: $grey-color;
                    }

                    .amount {
                        font-size: $default-elements-size * 2;
                        font-weight: bold;
                    }

                    .timestamp {
                        color: $grey-color;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        transform: translate(0, 100%);
                    }
                }
            }
        }
    }
}